/*  (Format *ABC Order for same family)
    Position
    Position format (top - left - bottom - right)
    index
    Display
    Display format
    Gap
    Margin
    Padding
    size
    alignment
    Font
    Extra 
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --primary-font: "Bitter", serif;
    --secondary-font: 'Montserrat', sans-serif;

    /* Colors */
    --primary-color: #fa7aa6;
    --secondary-color: #fa92ac;
    --accent-color: #fbc3b8;
    --background-color: #FEFCFB;
    --text-color: #1E100B;
    --secondary-text-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: max(3.5vmax, 3.25rem) max(3.75vmax, 3.25rem);
    min-height: 100dvh;
}

/* Header Content */

.header-content--primary {
    display: grid;
    grid-template-rows: 0.20fr 1fr 1fr;
    padding-right: max(2.25vmax, 1.5rem);
}

.header-content--secondary {
    display: grid;
}

.header-content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: max(2.25vmax, 1.5rem);
}

.header-content__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: max(6vmax, 5.5rem);
    color: var(--text-color);
    line-height: 1;
    text-transform: uppercase;
}

.header-content__about,
.header-content__email,
.header-content__resume,
.header-content__projects {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem -0.5rem var(--text-color);
    cursor: pointer;
    overflow: hidden;
}

.header-content__about {
    display: grid;
    place-items: center;
    margin-bottom: max(2.25vmax, 1.5rem);
    font-family: var(--secondary-font);
    font-size: max(6.5vmax, 5.5rem);
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
}

.header-content__about>span {
    position: relative;
    z-index: 2;
    padding-left: max(3vmax, 2.5rem);
}

.header-content__about>span::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: max(7vmax, 6rem);
    width: max(7vmax, 6rem);
    background: url(/icons/about.svg) no-repeat center / contain;
    content: '';
    translate: -50% -50%;
}

.header-content__email {
    position: relative;
    background-color: var(--accent-color);
}

.header-content__email::after,
.header-content__resume::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 60%;
    content: '';
    translate: -50% -50%;
}

.header-content__email::after {
    background: url(/icons/email-home.svg) no-repeat center / contain;
}

.header-content__resume {
    position: relative;
    background-color: var(--secondary-color);
}

.header-content__resume::after {
    left: 52.5%;
    background: url(/icons/resume.svg) no-repeat center / contain;
}

.header-content__projects {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
}

.header-content__projects-image {
    height: 97.5%;
    width: 97.5%;
    background: url(/project-collage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border-radius: 2rem;
}

.header-content__projectCounter {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: grid;
    place-items: center;
    height: max(8vmax, 7.5rem);
    font-family: var(--primary-font);
    font-size: min(7vmax, 5rem);
    font-weight: 700;
    aspect-ratio: 1 / 1;
    background-color: var(--background-color);
    border-radius: 100%;
    color: var(--text-color);
    cursor: pointer;
    line-height: 0.9;
}

/* Header Animation */

.header-content__projectCounter::before {
    position: absolute;
    height: max(8vmax, 7.5rem);
    aspect-ratio: 1 / 1;
    border: dashed var(--background-color) 2px;
    border-radius: 100%;
    content: '';
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.header-content__about::before,
.header-content__email::before,
.header-content__resume::before,
.header-content__projects::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    transition: ease-in-out 0.35s;
}

.header-content__about::before,
.header-content__email::before,
.header-content__resume::before {
    background: linear-gradient(to right,
            #fcf3c4,
            #fcdbbe,
            #fbc3b8,
            #fbabb2,
            #fa92ac);
    translate: -100%;
}

.header-content__email::before {
    background: linear-gradient(to right,
            #fcf3c4,
            #fcdbbe,
            #fbc3b8);
}

.header-content__resume::before {
    background: linear-gradient(to right,
            #fcf3c4,
            #fcdbbe,
            #fbc3b8,
            #fbabb2,
            #fa92ac);
}

.header-content__projects::before {
    background: linear-gradient(to top,
            #fcf3c4,
            #fcdbbe,
            #fbc3b8,
            #fbabb2,
            #fa92ac,
            #fa7aa6);
    opacity: 0.75;
    translate: 0 100%;
}

.header-content__about:hover::before,
.header-content__email:hover::before,
.header-content__resume:hover::before {
    translate: 0%;
}

.header-content__projects:hover::before {
    translate: 0%;
}

.header-content__projects:hover>.header-content__projectCounter::before {
    animation: spinScaleIntro 0.5s forwards;
}

.header-content__projects:not(:hover)>.header-content__projectCounter::before {
    animation: spinScaleOutro 0.5s forwards;
}

@keyframes spinScaleIntro {
    from {
        opacity: 0;
        transform: scale(1) rotate(0deg);
    }

    to {
        opacity: 1;
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes spinScaleOutro {
    from {
        opacity: 1;
        transform: scale(1.1) rotate(360deg);
    }

    to {
        opacity: 0;
        transform: scale(1) rotate(0deg);
    }
}

/* Nav */

nav {
    position: fixed;
    right: 1%;
    display: flex;
    align-items: center;
    height: 85%;
}

.nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__item {
    margin: 1rem 0 1rem 1rem;
    font-family: var(--secondary-font);
    font-size: max(1.65vmax, 1.25rem);
    font-weight: 600;
    cursor: pointer;
    writing-mode: vertical-rl;
}

.nav__item-link {
    position: relative;
    z-index: 999;
    color: var(--text-color);
    text-decoration: none;
}

.nav__item-link::before,
.nav__item-link::after {
    position: absolute;
    left: -2.5%;
    height: 0;
    width: 2px;
    background-color: var(--text-color);
    content: '';
    transition: 0.25s;
}

.nav__item-link::before {
    top: 51%;
}

.nav__item-link::after {
    top: 50%;
}

/* Nav Animations */

.nav__item-link:hover::after {
    height: 51%;
}

.nav__item-link:hover::before {
    height: 50%;
    translate: 0 -100%;
}

/* Section defaults */

.projects,
.about {
    padding: max(3.5vmax, 3.25rem) max(3.75vmax, 3.25rem);
    padding-top: max(1.75vmax, 1.5rem);
    min-height: 100dvh;
}

.projects__title,
.about__title {
    position: relative;
    /* Adding padding top from project section and padding bottom from header section */
    padding-bottom: calc(max(3.5vmax, 3.5rem) + max(1.75vmax, 1.5rem));
    font-family: var(--primary-font);
    font-size: max(6vmax, 5rem);
    color: var(--text-color);
    line-height: 1;
}

/* Project Section */

.projects__title {
    display: flex;
    align-content: center;
    justify-content: center;
}

.projects__title::before,
.projects__title::after {
    position: absolute;
    top: 25%;
    height: 5px;
    width: 32.5%;
    background-color: var(--text-color);
    content: '';
}

.projects__title::before {
    right: 0;

}

.projects__title::after {
    left: 0;
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: max(2.25vmax, 1.5rem);
}

.project-card,
.project-card__front,
.project-card__back {
    aspect-ratio: 1 / 1;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: ease-in-out 0.35s;
}

.project-card__front,
.project-card__back,
.project-card__backBlur {
    padding: max(2vmax, 1.5rem);
    border-radius: 1rem;
}

.project-card__front,
.project-card__back-blur {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: 0.5s;
}

.project-card__front {
    z-index: 1;
    backface-visibility: hidden;
    border: var(--text-color) 1px solid;
    color: black;
}

.project-card__back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    transform: rotate3d(1, 1, 0, 180deg);
}

.project-card__back-blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.1);
    border: var(--text-color) 3px solid;
    filter: blur(7px);
}

.project-card__title,
.project-card__description,
.project-card__tag,
.project-card__link {
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--text-color);
}

.project-card__title {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.25rem;
    font-family: var(--secondary-font);
    font-size: max(2vmax, 1.75rem);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    color: var(--secondary-text-color);
    text-decoration: underline;
    text-transform: capitalize;
    transition: ease-in-out 0.35s;
}

.project-card__description {
    flex: 1;
    margin-top: 0.5rem;
    padding: max(1.5vmax, 1rem);
    font-size: max(1.4vmax, 1.15rem);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    color: var(--secondary-text-color);
}

.project-card__tag-wrapper {
    display: flex;
    gap: 0.5rem;
    margin: 0.75rem 0;
    list-style: none;
}

.project-card__tag {
    padding: min(1vmax, 0.5rem) min(1vmax, 1rem);
    font-size: min(1vmax, 1rem);
    font-weight: 500;
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    text-align: center;
}

.project-card__link-wrapper {
    display: grid;
    gap: 0.5rem;
    list-style: none;
}

.project-card__link {
    position: relative;
    display: inline-block;
    padding: 0.6rem;
    width: 100%;
    font-size: max(1.75vmax, 1.5rem);
    font-weight: 500;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    transition: 0.25s;
}

.project-card__link::before,
.project-card__link::after {
    position: absolute;
    bottom: 17.5%;
    height: 2px;
    background-color: var(--text-color);
    content: '';
    transition: 0.25s;
}

.project-card__link::before {
    left: 50%;
    width: 0%;
}

.project-card__link::after {
    right: 50%;
    width: 0%;
}

/* Project Animation */

.project-card:hover>.project-card__front,
.project-card__back:hover>.project-card__back-blur {
    background-size: auto 105%;
}

.project-card:hover {
    translate: 0 -2.5%;
}

.project-card:hover>.project-card__front>.project-card__title {
    translate: 0 -15%;
}

.project-card--actived {
    transform: rotate3d(1, 1, 0, 180deg);
    transition: ease-in-out 0.35s;
}

.project-card__link:hover {
    border-radius: 0.4rem;
    transform: translateY(-0.15rem);
}

.project-card__link:hover::before,
.project-card__link:hover::after {
    width: 20%;
}

/* About */

.about__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.about__title::before,
.about__title::after {
    position: absolute;
    top: 25%;
    height: 5px;
    background-color: var(--text-color);
    content: '';
}

.about__title::before {
    left: 0;
    width: 8%;
}

.about__title::after {
    right: 0;
    width: 58%;
}

.about-content--primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 max(2vmax, 1.5rem);
}

.about-content__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: max(1.5vmax, 1.25rem);
    padding-right: max(2.5vmax, 2rem);
}

.about-content__text {
    font-family: var(--secondary-font);
    font-size: max(1.4vmax, 1.30rem);
    font-weight: 500;
    color: var(--text-color);
}

.about-content__design-wrapper {
    position: relative;
}

.about-content__design-shape {
    position: absolute;
    aspect-ratio: 1 / 1;
    transition: 0.75s ease;
}

.about__skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: max(1.75vmax, 1rem);
    margin-top: max(2.25vmax, 1.5rem);
    padding: max(1.5vmax, 1.25rem);
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.about__skill {
    position: relative;
    display: flex;
    flex: 1;
    padding: max(0.5vmax, 0.25rem);
    align-items: flex-end;
    justify-content: center;
    font-family: var(--secondary-font);
    font-size: max(1.20vmax, 1.10rem);
    font-weight: 600;
    aspect-ratio: 1.5 / 1;
    text-transform: uppercase;
}

.about__skill::before {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 75%;
    width: 100%;
    content: '';
    translate: -50% -50%;
}

.about__skill:nth-child(1)::before {
    height: 65%;
    background: url('/icons/java.svg') no-repeat center / contain;
}

.about__skill:nth-child(2)::before {
    height: 65%;
    background: url('/icons/js.svg') no-repeat center / contain;
}

.about__skill:nth-child(3)::before {
    height: 85%;
    background: url('/icons/react.svg') no-repeat center / contain;
}

.about__skill:nth-child(4)::before {
    background: url('/icons/html-5.svg') no-repeat center / contain;
}

.about__skill:nth-child(5)::before {
    background: url('/icons/css.svg') no-repeat center / contain;
}

.about__skill:nth-child(6)::before {
    background: url('/icons/c.svg') no-repeat center / contain;
}

/* About Animation */

.about-content__design-wrapper>.about-content__design-shape:nth-child(1) {
    background-color: #fcf3c4;
}

.about-content__design-wrapper>.about-content__design-shape:nth-child(2) {
    background-color: #fcdbbe;
}

.about-content__design-wrapper>.about-content__design-shape:nth-child(3) {
    background-color: #fbc3b8;
}

.about-content__design-wrapper>.about-content__design-shape:nth-child(4) {
    background-color: #fbabb2;
}

.about-content__design-wrapper>.about-content__design-shape:nth-child(5) {
    background-color: #fa92ac;
}

.about-content__design-wrapper>.about-content__design-shape:nth-child(6) {
    background-color: #fa7aa6;
}

.about-content__design-wrapper>.about-content__design-shape:nth-child(7) {
    background-color: #f962a0;
}

/* About Animation Configuration (Special format due to transition order) */

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(1) {
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
}

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(2) {
    top: 50%;
    left: 0;
    height: 50%;
    width: 35%;
}

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(3) {
    top: 0;
    left: 20%;
    height: 50%;
    width: 35%;
}

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(4) {
    top: 50%;
    left: 35%;
    height: 50%;
    width: 20%;
}

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(5) {
    top: 0;
    left: 55%;
    height: 100%;
    width: 45%;
}

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(6) {
    bottom: 0;
    right: 0;
    height: 80%;
    width: 35%;
}

.about-content__design-wrapper[data-configuration="1"]>.about-content__design-shape:nth-child(7) {
    bottom: 0;
    right: 0;
    height: 60%;
    width: 25%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(1) {
    top: 0;
    left: 0;
    height: 65%;
    width: 12.5%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(2) {
    top: 10%;
    left: 12.5%;
    height: 70%;
    width: 15%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(3) {
    left: 27.5%;
    bottom: 0;
    height: 80%;
    width: 15%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(4) {
    left: 42.5%;
    bottom: 15%;
    height: 80%;
    width: 12.5%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(5) {
    left: 55%;
    bottom: 0;
    height: 100%;
    width: 17.5%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(6) {
    left: 72.5%;
    bottom: 10%;
    height: 80%;
    width: 15%;
}

.about-content__design-wrapper[data-configuration="2"]>.about-content__design-shape:nth-child(7) {
    top: 0;
    right: 0;
    height: 75%;
    width: 12.5%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(1) {
    top: 0;
    left: 0;
    height: 40%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(2) {
    left: 0;
    bottom: 0;
    height: 65%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(3) {
    top: 0;
    left: 22.5%;
    height: 55%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(4) {
    left: 37.5%;
    bottom: 17.5%;
    height: 30%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(5) {
    bottom: 15%;
    right: 10%;
    height: 75%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(6) {
    bottom: 0;
    right: 0;
    height: 60%;
}

.about-content__design-wrapper[data-configuration="3"]>.about-content__design-shape:nth-child(7) {
    top: 7.5%;
    right: 0%;
    height: 40%;
}

/* About Animation Roundness */

.about-content__design-wrapper[data-roundness="1"]>.about-content__design-shape {
    border-radius: 0;
}

.about-content__design-wrapper[data-roundness="2"]>.about-content__design-shape {
    border-radius: 100%;
}

.about-content__design-wrapper[data-roundness="3"]>.about-content__design-shape {
    border-radius: 50vmax;
}

.about-content__design-wrapper[data-roundness="4"]>.about-content__design-shape {
    border-radius: 3rem;
}

.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(1) {
    border-radius: 0 0 0 10rem;
}

.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(2) {
    border-radius: 10rem;
}

.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(3) {
    border-radius: 0 10rem 0 5rem;
}

.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(4) {
    border-radius: 0 0 0 7.5rem;
}

.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(5) {
    border-radius: 0 5rem 0 0;
}

.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(6),
.about-content__design-wrapper[data-roundness="5"]>.about-content__design-shape:nth-child(7) {
    border-radius: 7.5rem 0 0 0;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 0 max(3.75vmax, 3.25rem);
    min-height: min(7.5vh, 3.5rem);
    background-color: var(--text-color);
}

.footer-content {
    display: flex;
    gap: max(7vmax, 6rem);
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: var(--primary-font);
    text-decoration: none;
}

.footer-content>li {
    transition: 0.25s ease-in-out;
}

.footer-content__links {
    position: relative;
    font-size: max(1.10vmax, 1rem);
    font-weight: 500;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.footer-content__links::before {
    position: absolute;
    top: 50%;
    left: -20%;
    height: 100%;
    width: 50%;
    content: '';
    translate: -50% -50%;
}

.footer-content>li:nth-child(1)>.footer-content__links::before {
    height: 140%;
    background: url(/icons/linkedin.svg) no-repeat center / contain;
}

.footer-content>li:nth-child(2)>.footer-content__links::before {
    left: -5.5%;
    background: url(/icons/email.svg) no-repeat center / contain;
}

.footer-content>li:nth-child(3)>.footer-content__links::before {
    left: -22.5%;
    background: url(/icons/github.svg) no-repeat center / contain;
}

/* Footer Animation */

.footer-content>li:hover {
    translate: 0 -7.5%;
}