/*  (Format)
    Display
    Display format
    Padding
    Margin
    *Height
    Width
    alignment
    Font
    Extra
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: "Bebas Neue", sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    width: 100vw;
    height: 100vh;
}

/* Header Content */

.header-content--primary {
    display: grid;
    grid-template-rows: 0.20fr 1fr 1fr;
}

.header-content__title--primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    line-height: 1;
}

.header-content__about--primary, 
.header-content__contact--primary,
.header-content__resume--primary,
.header-content__projects--secondary {
    border-radius: 2rem;
    cursor: pointer;
}

.header-content__about--primary {
    margin-bottom: 1.5rem;
    background-color: red;
}

.header-content__wrapper--primary{
    display: grid;
    grid-template-columns: 1fr .75fr;
    grid-gap: 1.5rem;
}

.header-content__contact--primary {
    background-color: blue;
}

.header-content__resume--primary {
    background-color: aqua;
}

.header-content--secondary {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
}

.header-content__projects--secondary {
    background-color: red;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__item {
    margin: 1rem 0 1rem 1rem;
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 600;
    writing-mode: vertical-rl;
    cursor: pointer;
}

/* Section defaults */

.projects,
.about,
.contact {
    height: max-content;
    min-height: 100vh;
    width: 100vw;
}

/* Project Section */

.projects {
    background-color: aquamarine;
}

/* About */

.about{
    background-color: purple;
}

/* Contact */
.contact {
    background-color: brown;
}